<%= stylesheet_link_tag "users", :media => "all" %>

  <div class="text-center">  
    <h1 class="card-title">生徒のログイン</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-controll" %>
      </div>

      <div class="field">
        <%= f.label :パスワード %><br />
        <%= f.password_field :password, autocomplete: "current-password", class:"form-controll" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :覚える %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログイン", class:"btn btn-primary" %>
      </div>
    <% end %>
<%= render "students/shared/links" %>
</div>