<%= stylesheet_link_tag "calender", :media => "all" %>
<h2><%= @student.name %>の予定</h2>

<div class="calender-container">
<%= month_calendar events: @schedules do |date, schedule| %>
    <%= date.day %>
    <% schedule.each do |s| %>
        <div>
        <%= s.content %>
        </div>
    <% end %>
<% end %>

</div>