
<h2><%= @student.name %>の進捗</h2>
<h3><%= @teacher.name %>先生</h3>

<div class="goal">
    <p>最終目標</p>
    <div class="final-container">
        <div class="final">
            <% if @final.present? %>
                <%= @final.body %>
            <% end %>
        </div>
    </div>
    <p>中間目標</p>
    <div class="middle-container">
        <div class="middle">
            <% if @middle.present? %>
                <%= @middle.body %>
            <% end %>
        </div>
    </div>
</div>

<%= button_to "全部削除", all_destroy_tweet_students_path(current_student.id, :student_id => current_student.id), method: :patch %>
<%= link_to "履歴", history_index_tweet_students_path(current_student.id) %>
<div class="container">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        進捗報告
    </button>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <%= form_for  @tweet_student_new , remote: true do |f| %>
                    <div class="modal-body">
                        <div class="form-group">
                            <%= f.label :教科 %>
                            <%= f.select :num, @subjects.all.map { |subject| [subject.body, subject.num] },{include_blank: '選択ボックス'}%>
                        </div>
                        <div class = "form-group" >
                            <%= f.label :進捗どうだった？ %>
                            <%= f.text_field :body, class: "form-controll" %>
                        </div>
                        <div class="form-group">
                            <%= f.label :わからなかったところは？ %>
                            <%= f.text_field :notget, class: "form-controll" %>
                        </div>
                        <div class="form-group">
                            <%= f.label :画像添付 %>
                            <%= f.file_field :image %>
                        </div>
                        <div class="form-group">
                            <%= f.label :達成度 %>
                            <%= f.select :achivement, ['0','10','20','30','40','50','60','70','80','90','100'], {include_blank: '選択する'} %>
                        </div>
                        <%= f.hidden_field :student_id, :value => current_student.id %>
                        <% if @middle.present? %>
                            <%= f.hidden_field :middle_id, :value => @middle.id %>
                        <% end %>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <%= f.submit "報告する", class: "btn btn-primary" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
    <% i=1 %>
    <% while i < 6 %>
    <div class="col-xs-6 col-sm-4">
        <div class="box">
            <div class="subject bg-light text-dark">
                <% s = @subjects.where(num:i).last %>
                <% if s.present? %>
                    <%= s.body %>
                <% end %>
            </div>
            <div class="todo">
                <% t = @todos.where(num:i).last %>
                <% if t.present? %>
                    <%= t.body %>
                <% end %>
            </div>
            <div class="overflow-auto" style="width:100%; height:400px;">
                <div class="tweets">
                    <% tweet_students_data = @tweet_students.where(num:i).order(id: :DESC) %>
                    <% tweet_students_data.each do |t| %>
                        <div class = "tweet">
                            <div class="field">
                                <%= t.body %>
                            </div>
                            <div class="field">
                                <%= t.notget %>
                            </div>
                            <div class="field">
                                <%=  image_tag t.image_url, class: 'image' if t.image? %>
                            </div>
                            <div class="field">
                                <%= t.achivement %>
                            </div>
                            <div class="field">
                                <%= l t.created_at, format: :short %>
                            </div>
                            <div class="field">
                                <i class="fas fa-heart"></i><%= t.likes.count %>
                            </div>
                            <div class="field">
                                <%= link_to "編集する", edit_tweet_student_path(t.id) %>
                                <%= button_to "削除する", tweet_student_path(t.id), method: :delete %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="graph">
                <% subject = @subjects.where(num:i) %>
                <% subject.each do |s| %>
                    <%= line_chart [ {name: s.body, data: @tweet_students.where(num:i).map{|t| t.slice(:created_at, :achivement).values} }] %>
                <% end %>
            </div>
        </div>
        <% i=i+1 %>
        </div>
    <% end %>
    </div>
</div>
