<!DOCTYPE html>
<html>
  <head>
    <title>Tutor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/reset.css">
    <link rel="stylesheet" type="text/css" href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/5-1-20/css/5-1-20.css">
    <link rel="stylesheet" type="text/css" href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/reset.css">
    <link rel="stylesheet" type="text/css" href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/9-1-2/css/9-1-2.css">
  </head>

  <body>
    <header>
      <div class="header-list">

        <% if teacher_signed_in? %>
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/hello/index">Tutor</a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <%= link_to "カレンダー", tweet_teachers_path(current_teacher.id), {class: "nav-link"}%>
                </li>
                <li class="nav-item">
                  <%= link_to "マイページ", teacher_path(current_teacher.id), {class: "nav-link"} %>
                </li>
                <li class="nav-item">
                  <%= link_to 'ログアウト', destroy_teacher_session_path, method: :delete, class: "nav-link" %>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    生徒
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <% students = Student.where(teacher_id: current_teacher.id).all %>
                    <% students.each do |s| %>
                      <%= link_to s.name, tweet_teacher_path(s.id), {class: "dropdown-item"} %>
                    <% end %>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
          <div class="openbtn1"><span></span><span></span><span></span></div>
            <nav id="g-nav">
              <div id="g-nav-list"><!--ナビの数が増えた場合縦スクロールするためのdiv※不要なら削除-->
                <ul>
                  <li><%= link_to "カレンダー", tweet_teachers_path(current_teacher.id)%></li>  
                  <li><%= link_to "マイページ", teacher_path(current_teacher.id)%></li>  
                  <li><%= link_to 'ログアウト', destroy_teacher_session_path, method: :delete %></li>  
                  <% students = Student.where(teacher_id: current_teacher.id).all %>
                  <% students.each do |s| %>
                    <li><%= link_to s.name, tweet_teacher_path(s.id) %></li>
                  <% end %>
                </ul>
              </div>
            </nav>
          <div class="circle-bg"></div>

        <% elsif student_signed_in? %>
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/hello/index">Tutor</a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <%= link_to "進捗", tweet_students_path(current_student.id), {class: "nav-link"}  %>
                </li>
                <li class="nav-item">
                  <%= link_to "カレンダー", student_callender_path(current_student.id), {class: "nav-link"} %>
                </li>
                <li class="nav-item">
                  <% if Conversation.where(teacher_id: current_student.teacher_id).where(student_id: current_student.id).exists? %>
                    <%= link_to "DM", conversation_path(current_student.conversations.find_by(teacher_id: current_student.teacher_id)), {class: "nav-link"} %>
                  <% else %>
                    <%= link_to "DM", conversations_path(current_student.conversations.find_by(teacher_id: current_student.teacher_id), :teacher_id => current_student.teacher_id ), method: :post, class: "nav-link" %>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to 'マイページ', student_path(current_student.id), {class: "nav-link"}  %>
                </li>
                <li class="nav-item">
                  <%= link_to 'ログアウト', destroy_student_session_path, method: :delete, class: "nav-link" %>
                </li>
              </ul>
            </div>
          </nav>
          <div class="openbtn1"><span></span><span></span><span></span></div>
            <nav id="g-nav">
              <div id="g-nav-list"><!--ナビの数が増えた場合縦スクロールするためのdiv※不要なら削除-->
                <ul>
                  <li><%= link_to "進捗", tweet_students_path(current_student.id) %></li>  
                  <li><%= link_to "カレンダー", student_callender_path(current_student.id) %></li>  
                  <li><%= link_to 'ログアウト', destroy_teacher_session_path, method: :delete %></li>  
                </ul>
              </div>
            </nav>
          <div class="circle-bg"></div>
        <% else %>
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/hello/index">Tutor</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">活用方法</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    新規登録
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <%= link_to "生徒", new_student_registration_path, {class: "dropdown-item"}  %>
                    <%= link_to "先生", new_teacher_registration_path, {class: "dropdown-item"}  %>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ログイン
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <%= link_to "生徒", new_student_session_path, {class: "dropdown-item"}  %>
                    <%= link_to "先生", new_teacher_session_path, {class: "dropdown-item"}  %>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
          <div class="openbtn1"><span></span><span></span><span></span></div>
            <nav id="g-nav">
              <div id="g-nav-list"><!--ナビの数が増えた場合縦スクロールするためのdiv※不要なら削除-->
                <ul>
                  <li><a class="nav-link" href="#">活用方法</a></li>  
                  <li><%= link_to "生徒ログイン", new_student_registration_path  %></li>  
                  <li><%= link_to "先生ログイン", new_teacher_registration_path %></li> 
                  <li><%= link_to "生徒登録", new_student_session_path %></li>
                  <li><%= link_to "生徒登録", new_student_session_path %></li>
                </ul>
              </div>
            </nav>
          <div class="circle-bg"></div>
        <% end %>
      </div>
    </header>

    <main>
      <%= yield  %>
    </main>

    <footer>
      <p>Copyright KotaroTakahara All Right Reserved.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
      $(".openbtn1").click(function () {//ボタンがクリックされたら
      $(this).toggleClass('active');//ボタン自身に activeクラスを付与し
      $("#g-nav").toggleClass('panelactive');//ナビゲーションにpanelactiveクラスを付与
      $(".circle-bg").toggleClass('circleactive');//丸背景にcircleactiveクラスを付与
      });

      $("#g-nav a").click(function () {//ナビゲーションのリンクがクリックされたら
      $(".openbtn1").removeClass('active');//ボタンの activeクラスを除去し
      $("#g-nav").removeClass('panelactive');//ナビゲーションのpanelactiveクラスを除去
      $(".circle-bg").removeClass('circleactive');//丸背景のcircleactiveクラスを除去
      });
    </script>



  </body>
</html>
